@charset "UTF-8";
@font-face {
    font-family: "Myriad";
    src: url("../fonts/SQDRSS+MyriadPro-Regular.eot");
    src: local("☺"), url("../fonts/SQDRSS+MyriadPro-Regular.woff") format("woff"), url("../fonts/SQDRSS+MyriadPro-Regular.ttf") format("truetype"), url("../fonts/SQDRSS+MyriadPro-Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

/* Glomal
===================== */
body {
    color: #868585;
    font: 300 14px/26px "Lato", sans-serif;
    background-color: #fff;
}

.wrapper {
    overflow: hidden;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

/* Section Intro
===================== */
.intro {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 50px 0 20px;
    background: #4a7d91 url("../img/backgrounds/intro-bg.jpg") center no-repeat;
    z-index: 1;
}
@media (max-width: 668px) {
    .intro {
        padding: 20px 0;
    }
}
.intro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.513025193) 0%, rgba(74, 128, 147, 0.7) 100%);
    z-index: -1;
}

.intro__logo {
    width: 195px;
    height: 120px;
}
@media (max-width: 668px) {
    .intro__logo {
        width: 165px;
        height: 90px;
    }
}

.intro__headlines {
    position: relative;
    flex-shrink: 0;
    padding: 0 0 45px 0;
    margin: 30px 0;
    color: #fff;
    text-align: center;
}
.intro__headlines::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 105px;
    height: 2px;
    margin: 0 0 0 -52.5px;
    background-color: #fff;
}

.intro__title {
    margin: 0 0 10px 0;
    font-weight: 900;
    font-size: 34px;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 5.43px;
}
@media (max-width: 668px) {
    .intro__title {
        font-size: 22px;
        margin-bottom: 0;
    }
}

.intro__subtitle {
    font-family: Lato;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 4.15px;
}
@media (max-width: 668px) {
    .intro__subtitle {
        font-size: 16px;
    }
}

.intro__row {
    position: relative;
    min-height: 95px;
    padding: 0 0 30px 0;
}

.btn {
    display: inline-block;
    height: 47px;
    padding: 0 40px;
    color: #000;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    text-transform: uppercase;
    letter-spacing: 0.67px;
    border: 1px solid #000;
    transition: background 0.3s ease, color 0.2s ease, box-shadow 0.3s ease;
}
.btn:hover, .btn:focus {
    color: #fff;
    background-color: #48748f;
    box-shadow: 0 5px 15px #48748f;
    border-color: #48748f;
}

.btn_white {
    color: #fff;
    border-color: #fff;
}
.btn_white:hover, .btn_white:focus {
    background-color: #4d7f94;
}
.btn_white::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -8.5px;
    width: 17px;
    height: 10px;
    background: url("../img/icons/Arrow-down.png") center no-repeat;
    background-size: cover;
    animation-name: arrow;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes arrow {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(20px);
    }
}
/* Section About
===================== */
.about {
    max-width: 860px;
    padding: 0 15px 85px;
    margin: 0 auto;
}
@media (max-width: 757px) {
    .about {
        padding-bottom: 30px;
    }
}

.nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #3c3c3c;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}

.nav__link {
    color: #3c3c3c;
    padding: 10px 25px;
    transition: background 0.3s ease;
}
.nav__link.active {
    color: #ada074;
    font-weight: 900;
    line-height: 28px;
}
.nav__link:hover, .nav__link:focus, .nav__link:active {
    background-color: #eaeaea;
}

.about__nav {
    margin: 0 0 125px 0;
}
@media (max-width: 757px) {
    .about__nav {
        margin-bottom: 50px;
    }
}

.about__content {
    margin: 0 0 60px 0;
}

.title {
    position: relative;
    padding: 0 0 30px 0;
    color: #000;
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 8.95px;
}
.title:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 80px;
    height: 1px;
    margin-left: -40px;
    background-color: #000;
}

.about__title {
    margin: 0 0 30px 0;
}

.about__text {
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
}

.about__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
}
@media (max-width: 757px) {
    .about__list {
        display: block;
    }
}

.about__column {
    width: 33.33333%;
    flex: 0 0 auto;
}
@media (max-width: 757px) {
    .about__column {
        width: 100%;
        margin-bottom: 40px;
        padding: 0 20px;
    }
}

.block {
    margin-bottom: 20px;
    padding: 0 20px 0;
    text-align: center;
}

.block__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    margin: 0 auto 35px;
    border: 2px solid #f1f1f1;
    border-radius: 50%;
}

.block__igm {
    max-width: 42px;
    max-height: 42px;
}

.img_l {
    position: relative;
    top: 0;
    left: 5px;
}

.block__title {
    margin: 0 0 25px 0;
    color: #000000;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 3.52px;
}

/* Section Portfolio
===================== */
.portfolio {
    padding: 100px 0 60px;
    background-color: #f3f3f3;
}

.portfolio__title {
    margin: 0 0 40px 0;
}

.portfolio__nav {
    margin: 0 0 125px 0;
}

.portfolio__examples {
    max-width: 1130px;
    margin: 0 auto 65px;
}

.portfolio__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.portfolio__item {
    flex: 0 1 50%;
    margin: 0 0 30px 0;
    padding: 0 15px;
}
@media (max-width: 757px) {
    .portfolio__item {
        flex: 1 1 100%;
    }
}

.portfolio__row {
    text-align: center;
}

/* Section Partners
===================== */
.partners {
    position: relative;
    min-height: 360px;
    background: #4a7d91 url("../img/backgrounds/partners.jpg") center no-repeat fixed;
    z-index: 1;
}
.partners::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.513025193) 0%, rgba(74, 128, 147, 0.7) 100%);
    z-index: -1;
}

.partners__wrapper {
    max-width: 1130px;
    margin: 0 auto;
    padding: 100px 15px 70px;
    overflow: hidden;
}

.partners__title {
    margin: 0 0 90px 0;
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1.8px;
    text-align: center;
}

.partners__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.partners__logo {
    flex: 0 1 auto;
    margin-bottom: 30px;
}

.partners__photo {
    padding: 0 55px;
}
.partners__photo img {
    margin: 0 auto;
}

/* Section Contact
===================== */
.contacts {
    max-width: 1130px;
    margin: 0 auto;
    padding: 175px 15px 100px;
}

.contacts__title {
    margin: 0 0 110px 0;
}

.contacts__row {
    display: flex;
    flex-wrap: wrap;
}

.contacts__columns {
    width: 385px;
}
.contacts__columns:first-child {
    margin: 0 0 0 100px;
}
.contacts__columns:last-child {
    margin: 0 0 0 80px;
}

.contacts__group {
    display: flex;
    justify-content: space-between;
    margin: 0 0 70px 0;
}

.contacts__label {
    display: block;
    margin: 0 0 10px 0;
    color: #000;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.contacts__input {
    display: block;
    width: 160px;
    height: 40px;
    padding: 5px;
    background-color: #f8f7f7;
    border-top: 1px solid #000;
}

.contacts__massage {
    margin: 0 0 35px;
}

.contacts__textarea {
    width: 100%;
    height: 115px;
    background-color: #f8f7f7;
    border-top: 1px solid #000;
    resize: none;
    overflow: auto;
}

.contacts__box {
    text-align: right;
}

.contacts__text {
    color: #888;
    margin: 0 0 30px 0;
}

.contacts__persen {
    margin: 0 0 15px 0;
    color: #181818;
    font: 700 16px/22px "Lato", sans-serif;
}

.social {
    display: flex;
}

.contacts__social {
    margin: 0 0 15px 0;
}

.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border: 2px solid #1e1e1e;
    border-radius: 50%;
    overflow: hidden;
}
.social__link:last-child {
    margin-right: 0;
}
.social__link:hover, .social__link:focus {
    background-color: #eaeaea;
    cursor: pointer;
}

.contacts__email {
    color: #000;
    font-weight: 700;
}
.contacts__email:hover, .contacts__email:focus {
    text-decoration: underline;
}

/* Section Footer
===================== */
.main-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 270px;
    padding: 45px 15px;
    background-color: #4c4c4c;
}

.main-footer__img {
    width: 122px;
    height: 78px;
}

.main-footer__nav .nav__link {
    color: #7e7e7e;
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
}
.main-footer__nav .nav__link:hover {
    background-color: #444;
}

.copyright {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 400;
}